<!doctype html>
<html>
<head>
<title>Email validation</title>
<style>
body {
    width:100%;
    text-align:center;
}
.container {
    text-align:left;
    display:inline-block;
    border:1px grey inset;
    width: 300px;
    padding:1em;    
    background-color:azure;
    margin: 20px auto;
}
<style>
</head>
<body>
    <div class="container">
    <h1>Email validation</h1>
    <p>Hello %%email%%, please click on this <a href="%%link%%">encoded link</a> to verify your email address.
    </p>
    </div>
</body>
</html> 
